.education {     
    font-family: 'Montserrat', sans-serif; 
}

.education--title {     
    text-align: left;     
    padding-bottom: 15px;     
    border-bottom: 1.5pt solid #333333;     
    font-size: 15pt;     
    font-weight: bolder; 
    margin-top: 60px;
}

.education--context {
    margin-top: 30px;
}

.educ_title {
    font-size: 12pt;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}

.educ_date {     
    font-size: 10pt;     
    font-weight: bolder;     
    color: #333333; 
    margin-bottom: 12px;     
}

.educ_description {     
    font-size: 10pt;     
    font-weight: bold; 
    margin-bottom: 12px;
}