.main {
  display: flex;
  flex-direction: column;
}

.container{     
  background-color: #333333;     
  display: inline-block;     
  width: 100%;         
  font-family: 'Montserrat', sans-serif; 
}

.context_2 {
  margin: 20px;
}

@media only screen and (min-width: 600px) {     
  .main {         
      flex-direction: row;        
  }         
  .container {          
      width: 400px;        
  }             
  .context_2 {         
      width: 100%;     
  }      
}