div.jobs {
    background-color: white;
    height: 70px;
    width: 65%;
    float: right;
}

@media (max-width: 600px) {
   
    div.jobs {
        background-color: white;
        height: 70px;
        width: 100%;
    }
}